@import 'normalize.css';
@import 'variables.css';
@import 'svg.css';
@import 'details.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--font-color);
  font-family: 'Gidole Regular', 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

/*
 *  HEADER STYLES
 */

header {
  background: white;
  border-bottom: 1px solid var(--grey);
  height: 14vh;
  overflow: hidden;
  padding: var(--space) 0;
  position: fixed;
  width: 100vw;
  transition: height .3s ease-out;
  z-index: 100;
}

header p {
  display: none;
}

header.expanded p {
  display: block;
  margin: calc(var(--space) * 2);
  color: color(var(--blue) l(30%));
  border-bottom: 1px solid var(--grey);
}

header.expanded {
  height: 50vh;
}

header.expanded ul {
  display: block;
  height: 80%;
  max-width: 18vw;
  overflow-y: scroll;
}

.wrap {
  display: flex;
  height: 100%;
  justify-content: center;
}

header div {
  height: 100%;
}

#search-results {
  height: 80%;
  width: 20vw;
  overflow-y: scroll;
}

#search-results button {
  color: var(--font-color);
}

#search-results button:hover {
  color: var(--red);
}

header ul {
  display: none;
}

#show-filter {
  display: block;
  position: absolute;
  bottom: 0px;
  left: calc((100vw / 2) - 20px);
}

#show-filter:focus,
#show-filter:active {
  outline: none;
}

.rotated {
  transform: rotate(180deg);
}

button img {
  height: 40px;
  width: 40px;
  transition: 1s ease-in-out;
}

header button {
  border: none;
  background: none;
  color: var(--red);
  padding: var(--padding-lr);
  text-align: left;
}

input,
select {
  height: 25.2px;
  margin: calc(var(--space) * 2);
  max-width: 20vw;
  padding: var(--padding-lr);
  overflow: hidden;
  text-overflow: ellipsis;
}

input:active, 
input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

select:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0 calc(var(--space) * 2) 0;
}

li {
  border-bottom: 1px solid var(--grey);
  padding: var(--space) 0;
}

/*
 * MAIN STYLES
 */

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px
}

.plot, .small-plots {
  height: 50vw;
  width: 50vw;
  max-height: 512px;
}

.plot,
.small-plots {
  margin: 14vh 0 0;
}

footer label,
footer button {
  display: none;
}

footer {
  font-size: .8em;
}

footer div {
  display: flex;
  justify-content: center;
  margin: var(--space) 0;
}

footer li {
  display: inline;
  padding: var(--padding-lr);
  border: none;
}

footer img {
  height: 1.8em;
  display: inline-block;
  vertical-align: middle;
}
