@import "normalize.css";
@import "./variables.css";
@import "./svg.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  color: var(--font-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

@media (max-width: 1024px) {
  main {
  display: flex;
  }
}

@media (max-width: 700px) {
  main {
  }
}