svg {
  background: var(--light-grey);
}

text {
  font-size: var(--svg-font-size);
}

.axes {
  stroke: var(--dark-grey);
}

.axes image:hover {
  cursor: pointer;
}

.scale {
  fill: transparent !important;
  stroke: var(--grey) !important;
}

.plot .star-plot .data-set-0 {
  fill-opacity: 0.5;
  fill: var(--red);

}

.star-plot {
  display: block;
  border: 2px solid white;
}

.small-plots svg path {
  fill: var(--dark-grey);
  stroke: var(--dark-grey);
}

.active-0 {
  fill: var(--red) !important;
  stroke: var(--red) !important;
}

.active-1 {
  fill: var(--blue) !important;
  stroke: var(--blue) !important;
}

.active-2 {
  fill: var(--green) !important;
  stroke: var(--green) !important;
}

.small-plots {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
}

.small-plots .star-plot {
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.small-plots .star-plot:hover svg{
  cursor: pointer;
  background: color(var(--light-grey) l(90%));
}
