svg {
  background: var(--light-grey);
}

text {
  font-size: var(--svg-font-size);
}

.axes {
  stroke: var(--dark-grey);
}

.scale {
  fill: transparent !important;
  stroke: var(--grey) !important;
}

.star-plot {
  border: 2px solid white;
}

.data-set {
  fill: color(var(--dark-grey) a(50%));
  stroke: var(--dark-grey);
}

.data-set:nth-of-type(1),
.active:nth-of-type(1) > svg .data-set-0 {
  fill: color(var(--red) a(70%));
  stroke: var(--red);
}

.data-set:nth-of-type(2),
.active:nth-of-type(2) > svg .data-set-0 {
  fill: color(var(--blue) a(70%));
  stroke: var(--blue);
}

.data-set:nth-of-type(3),
.active:nth-of-type(3) > svg .data-set-0 {
  fill: color(var(--green) a(70%));
  stroke: var(--green);
}

.small-plots {
  display: flex;
  flex-wrap: wrap;
}

.small-plots .star-plot {
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.small-plots .star-plot:hover {
  cursor: pointer;
}

.small-plots path {
  fill: var(--dark-grey);
  stroke: var(--dark-grey);
}