main
  h2 Das hier ist ein Anfang zu d3.js
  svg(width="100", height="100", viewbox="0 0 100 100")
  h2 Das hier sind paar geparste Daten
  .object
    each data, key in collection.models[0]
      p #{key}: #{data}
  .object
    each data, key in collection.models[1]
      p #{key}: #{data}
